language: node_js
node_js:
- '4.4.7'
sudo: false
services:
before_install:
- npm update -g npm
- npm --version
- export CHROME_BIN=chromium-browser
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
before_script:
  - npm install -g gulp
script: gulp build && gulp coveralls
notifications:
  email: true
after_failure: cat /home/travis/build/juan-manuel-alberro/angular2-starter-kit/npm-debug.log
branches:
  only:
  - master
